.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
}

.left {
  position: relative;
  width: 50%;
  height: 100vh;
}

.right {
  float: right;
  position: relative;
  width: 50%;
  height: 100vh;
  padding-top: 40px;
  padding-bottom: 20px;
}

.container {
  display: flex;
  font-family: 'Titillium Web', sans-serif;
}

.hori-center {
  margin: 0 auto;
}

.input-wrapper {
  position: relative;
  padding-bottom: 10px;
}

.input {
  padding: 10px 5px;
  width: 100%;
  border: 1px solid rgba(19, 35, 47, 0.9);
}

.input-label {
  position: absolute;
  transform: translateY(50%);
  left: 10px;
  transition: all 0.25s ease;
  color: #a0b3b0;
}

.input-label-active {
  color: #20233F;
  left: 0px;
  transform: translateY(50%) translateX(-120%);
}

.add {
  color: #20233F;
  display: block;
  width: 160px;
  padding: 7px 0;
  border: 0;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: beige;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 10px;
}

.calorie {
  position: relative;
  height: 100%;
}

.calorie-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-image: url("../../img/grid.png");
  background-repeat: repeat;
  background-size: contain;
}

.html {
  background-color: #CACFD2;
}

.js {
  background-color: #F7DC6F;
}

.css {
  background-color: #76D7C4;
}

.images {
  background-color: #45B39D;
}

.fonts {
  background-color: #85C1E9;
}

.ads {
  background-color: #33E9FF;
}

.default {
  background-color: #FDFEFE;
}



